.main-container{
  background: white;
  height: 100vh;
  text-align: center;
  padding-top: 28px;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10vw;
  background: #404158;
  background-color: #404158;
}

.NameTitle{
  color: white;
  text-align: center;
  font: 45px Arial, sans-serif;
  /* position: relative;
  left: 100px;
  bottom: 100px;
  width: 1000px; */
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  /* position: relative;
  right: 245px;
  top: 50px; */
}

.resume{
}

.projects{
  background-color: #fdfafa;
}

.image{
  border-radius: 200px;
  border-block: 5px solid #62657b;
  background-color: black;
}

.column {
  float: left;
  width: 50%;
  text-align: center;
}

.row:after {
  content:"";
  display: table;
  clear: both;
}