#root {
  font-family: "Arial";
  color: #ede7f6;
}
.main-container {
  height: 100vh;
  text-align: center;
}

.info-container {
  position: absolute;
  right: 8vw;
  top: 36px;
  z-index: 3;
}

.info-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.nameTitle {
  text-align: center;
  font: 45px Arial, sans-serif;
  margin-bottom: 18px;
  z-index: 3;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
  position: absolute;
  right: 0;
}

.image {
  border-radius: 200px;
  background-color: black;
  position: absolute;
  z-index: 3;
  left: 8vw;
  top: 4vw;
}

.aboutMe {
  background-color: #112740;
  padding: 0.125rem 8vw;
  font-size: 22px;
  text-align: justify;
}

.column {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: justify;
  justify-content: start;
}

.left-column {
  margin-right: 12vw;
}

.row {
  display: flex;
  align-items: space-between;
  justify-content: center;
  margin: 0 8vw;
  font-size: 18px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.background {
  background-color: #091623; /* sky-color */
  position: absolute;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.star {
  z-index: 0;
  position: absolute;
  width: 2px;
  height: 2px;
  background: silver;
  border-radius: 50%;
}

.resume-body {
  padding-top: 400px;
}

.body-part {
  background-color: #1c3b5f;
}

.icons {
  display: flex;
  gap: 21px;
}
