.main-container{
  background: white;
  height: 100vh;
  text-align: center;
  padding-top: 28px;

}

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10vw;
  padding: 50px;
  background:gray;
}

.NameTitle{
  color: black;
  text-align: center;
}

.resume{

}

.projects{

}

.image{
  border-radius: 200px;
}
